/* Scrolling layout */
#content {
	padding: 16pt 0 20px 0;
}

#header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

#footer {
	position: fixed;
	bottom: 0;
	left: 0;;
	right: 0;
	width: 100%;
	background-color: #ccc;
	border-top: 1px solid black;
	font-size: 10pt;
	padding:0px;
}

/* Basic appearance */
body {
	background-color: white;
	color: black;
	font-family: sans-serif;
	margin: 0px;
	padding-bottom: 20px;
}

td {
	font-size: 12px;
}

h1 {
	color: black;
	background-color: #aaa;
	margin: 0px;
	font-size: 11pt;
	top: 0px;
	padding-left: 4px;
	right: 0px;
}

.breadcrumb {
	color: black;
	background-color: #ccc;
	font-size: 10pt;
	margin: 0px;
	padding: 0px;
	border-bottom: 1px solid black;
	top: 22px;
	padding-left: 8px;
	right: 0px;
}

.filebrowser #content {
	margin: 0px;
	padding: 0px;
}

/* drupal */
div.description {
	font-size: 80%;
}

div.error {
	color: red;
	border: 1px solid red;
	margin: 5px;
	padding: 5px;
}

div.status {
	color: green;
	border: 1px solid green;
	margin: 5px;
	padding: 5px;
}

/* undo drupal */
#content {
	padding: 0px;
	margin: 0px;
}
