/*
	Layouts for the filebrowser enhancements:
	The directory lists (trees), 
	the directory tables,
	the buttons and bits inside,
	the pop-up window
	
	$Id$
*/

.filebrowser {
/*	background-color: #eee; */
	margin-top:0.5em;
}

.filebrowser_table .filebrowser_table {
	width: 100%; 
}

.filebrowser_table td {
	vertical-align: top;
	padding-bottom: 0px;;
	padding-top: 0px;
/*	border:2px solid blue;  */
}

.filebrowser .groupItem {
	border: 1px solid #CCC;
	margin-right: 2px;
	margin-bottom: 2px;
	display: block;
}

.filebrowser table .container {
	padding-top: 2px;
	margin-top: 2px;
}

.filebrowser table .container .filename {
/*	background-color: #CCC; */
}

.filebrowser #content {
	padding-left: 4px;
	padding-right: 4px;
}

.filebrowser .odd {
	background-color: #EEE; 
}
.filebrowser .even {
	background-color: #DDD;
}

/* horizontal group of cells containing the details */
.filebrowser .properties{
	clear:both;
	height:1.5em;
}

/* assorted cells */
.filebrowser .age, 
.filebrowser .size, 
.filebrowser .file, 
.filebrowser .filename, 
.filebrowser .name, 
.filebrowser .file
{
	white-space: nowrap;
}

.filebrowser .age, .filebrowser .size {
	font-size: 70%;
}

.filebrowser .icon  {
	width: 1em;
}

.filebrowser .filename,.filebrowser .name {
	width: 200px;
}
.filebrowser .filename {
	padding-left:.3em;
	padding-right:.3em;
}

.filebrowser img {
	margin: 0px;
	vertical-align: bottom;
}


.filebrowser .filename a {
	color: #555;
	text-decoration: none;
}


.filebrowser .expander,.filebrowser .fileBrowserExpand, .filebrowser .fileBrowserContract{ 
	cursor:pointer; 
	text-align:center;
	float:left;
	width:1em; 
	height:10px;
}
.filebrowser .expando{ 
	text-align:center;
	border:1px solid #999;
	color:#999;
	margin:2px; 
	width:1em; 
	font-size:8px;
	line-height:8px;
	font-weight:bold;
	float:left;
}

.filebrowser .action {
	float:right; 
}

.disabled {
	color: #666;
}

/* Small buttons */
.filecontrols {
	padding: 0 2px 0 2px;
	margin: 2px;
	margin-bottom: 0px;
	border: 1px outset #ccc;
	font-size: 80%; 
	background-color: #ccc;
	cursor: pointer;
}

.filecontrols a {
	font-weight: normal;
	text-decoration: none;
}

.filebrowser .exists {
	color: #866;
	background-color: #Fcc;
}

/* Checkboxes have some default padding I don't want */
.filebrowser .checkbox input {
	height: 1.1em;
}

/** The UL LI rendering version **/

.filebrowser ul {
	margin: 0; padding:0;
}

.filebrowser ul.filebrowser_list{
	/* don't indent the first */
	margin-left: 0;
}
.filebrowser ul.filebrowser_list ul.filebrowser_list{
	margin-left: 1.7em;
}


/* Try and line things up. need float so our fixed widths work */
.filebrowser_list span{
	float:left;
}
.filebrowser_list span.action{
	float:right; 
}


.filebrowser_list li {
	list-style-type: none;
	padding-bottom:.0em;
	clear:left;
	height:1.2em;
}
.filebrowser_list li.marked {
	background-color: #DDF;
}
.filebrowser_list .detach_button li {
	list-style-type: none;
}



/*
.filebrowser_list div {
	display: block;
	padding-bottom: 2px;
	margin-bottom: 2px;
}
*/
.filebrowser_list div span{
/*	font-size: 80%; */
}